* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: rgb(252, 243, 232);
}

.wrapper {
    width: 100%;
    height: 100vh;
}